body {
  font-family: 'Montserrat', sans-serif;
}

.card {
  font-weight: bold;
  height: 300px;
  text-align: center;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-img-top {
  height: 180px;
  width: 100%;
}

.card-body {
  font-size: 1.5em;
  text-decoration: none;
}

.veg{
  padding-top: 30px;
}
