<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="/addproduct" method="POST">
        Category<input type="text" name="category"></input>
        Item<input type="text" name="item"></input>
        Quantity<input type="text" name="quantity"></input>
        Unit<input type="radio" name="unit" value="kg">Kg</input>
        <input type="radio" name="unit" value="lt">litres</input>
        <input type="radio" name="unit" value="kg">Pieces</input>
        <!-- <button type="submit" onclick="genPrice()">Generate price</button> -->
        <button type="submit" name="addproductbtn">Add Product</button>
</body>

</html>