<html>

<form action="/buyer" method='POST'>
  <!-- <input value="dist" name="dist" id="dist"></input>
  <input value="product" name="product" id="product"></input> -->

<select name="dist" value='dist'>
  <option value="">Select your district</option>
    <option value="calicut">Calicut</option>
    <option value="trivandrum">Trivandrum</option>
    <option value="kottayam">Kottayam</option>
  </select>
  <select name="product" value='product'>
    <option value="">Select your product</option>
      <option value="tomato">Tomato</option>
      <option value="banana">Banana</option>
      <option value="ladies">Ladies Finger</option>

    </select>
    <button type="submit" value="search">Search</button>
</form>


</html>
