<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Organo - Seller</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/thumbnail-gallery.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="../static/css/thumbnail-gallery.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="../static/img/logo.png" alt="logo" style="height: 50px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/sellerindex">Home
                <span class="sr-only">(current)</span>
              </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/orders">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/catalog">Catalog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Payments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </div>


        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <h1 class="my-4 text-center text-lg-left">Home</h1>

        <div class="row text-center text-lg-left">


            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="/addproduct" class="d-block mb-4 h-100">
                    <div class="card">
                        <img class="card-img-top" src="../static/img/addprod.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Add Product</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="/cropinfo" class="d-block mb-4 h-100">
                    <div class="card">
                        <img class="card-img-top" src="../static/img/cropinfo.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Crop info</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="/farming" class="d-block mb-4 h-100">
                    <div class="card">
                        <img class="card-img-top" src="../static/img/farming.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text"> Organic Farming Tips</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="/price" class="d-block mb-4 h-100">
                    <div class="card">
                        <img class="card-img-top" src="../static/img/price.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Price Forcast</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="/area" class="d-block mb-4 h-100">
                    <div class="card">
                        <img class="card-img-top" src="../static/img/location.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Know your Area</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="/discussion" class="d-block mb-4 h-100">
                    <div class="card">
                        <img class="card-img-top" src="../static/img/discuss.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Discussions</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="/seeds" class="d-block mb-4 h-100">
                    <div class="card">
                        <img class="card-img-top" src="../static/img/equip.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Seeds & Equipments</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="/teamup" class="d-block mb-4 h-100">
                    <div class="card">
                        <img class="card-img-top" src="../static/img/teamup.png" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Team Up</p>
                        </div>
                    </div>
                </a>
            </div>


        </div>


    </div>

    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Organo 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="js/bin/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

</body>

</html>